
  .Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .ProjectsTitle{
    color: var(--wight);
    font-size: 35px;
  }
  .mainProjects{
    width: 65%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  @media screen and (max-width:768px){
    .Projects{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .mainProjects{
     width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }
  
  
 
  }